body{
    background-color: rgb(175, 175, 175);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    border-radius: 10%;
}
h1{
    background-color: rgb(0, 0, 0);
    border-radius: 10%;
    text-align: center;
    
}
#galo{
    background-color: white;
}
